.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div button {
    font-size: 15px;
    margin: 30px;
}

div#logado {
    font-size: 40px;
}

div#button {
    display: flex;
    flex-direction: column;
}